@use 'utility';
@use 'focus-visible';
@import 'taknepoidet-scss-starter';
@import 'variables';

body,
html {
	height: max(100%, 100vh);
	min-height: 100%;
	background: var(--blank-fill);
	color: var(--primary-text);
	font-family: Manrope, sans-serif;
}

@import 'production';

:focus-visible,
:focus {
	@include focus-visible.setup;
}

/* Remove the focus outline */
:focus:not(:focus-visible) {
	outline: none;
}

html.overflow-hidden {
	overflow: hidden;
	height: 100vh;

	body {
		position: fixed;
		inset: var(--overlay-scroll-position) 0 0 0;
		overflow: hidden;
		padding-right: var(--scroll-width-offset);
	}
}
